
.header{
    height: 100px;
    background-color: #141f40;
}

.clearfix::after { 
    content: ''; 
    display: block; 
    clear: both;
}

.wrapper{
    width: 400px;
}

.contents{
    height: 250px;
}


.center{
    height: 250px;
    width: 250px;
    float: left;
}

.center-left{
    height: 150px;
    float: left;
}

.left{
    width: 150px;
    height: 250px;
    background-color: #80bfa8;
    float: left;
}

.yellow{
    width: 150px;
    height: 50px;
    background-color: #dbd400;
}

.orange{
    width: 100px;
    height: 150px;
    background-color: #ff9e6b;
    float: left;
}

.blue{
    width: 150px;
    height: 100px;
    background-color: #0093b7;
}

.red{
    width: 250px;
    height: 100px;
    background-color: #8c2727;
}

.footer{
    height: 100px;
    background-color: #d98d30;
    clear: both;
}

* {
    margin: 0;
    padding: 0;
}